# directories
.config/
.github/
.idea/
.sonarqube/
.vs/
ci/
.vscode/
publish/
schemas/
scripts/
tests/

# csharp output directories
**/bin/
**/obj/
**/out/

# files
Dockerfile*
**/*.trx
**/*.md

# Ignore these directories inside the docker subdir
docker/config/
docker/artifacts/
