name: recyclarr

x-radarr: &radarr
  image: ghcr.io/home-operations/radarr:rolling
  environment:
    TZ: America/Chicago
    RADARR__AUTH__APIKEY: testkey

x-sonarr: &sonarr
  image: ghcr.io/home-operations/sonarr:rolling
  environment:
    TZ: America/Chicago
    SONARR__AUTH__APIKEY: testkey

volumes:
  radarr_develop1:
  radarr_develop2:
  sonarr_develop1:
  sonarr_develop2:

services:
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:edge
    user: ${DOCKER_UID:-1000}:${DOCKER_GID:-1000}
    profiles: [recyclarr]
    read_only: true
    tmpfs: /tmp
    build:
      context: .
      # platforms:
      #   - linux/arm/v7
      #   - linux/arm64
      #   - linux/amd64
    volumes:
      - ./docker/debugging/recyclarr:/config
    environment:
      CRON_SCHEDULE: "* * * * *"
      TZ: America/Chicago

  radarr_develop1:
    <<: *radarr
    ports: [7890:7878]
    volumes: [radarr_develop1:/config]

  radarr_develop2:
    <<: *radarr
    ports: [7891:7878]
    volumes: [radarr_develop2:/config]

  sonarr_develop1:
    <<: *sonarr
    ports: [8990:8989]
    volumes: [sonarr_develop1:/config]

  sonarr_develop2:
    <<: *sonarr
    ports: [8991:8989]
    volumes: [sonarr_develop2:/config]

  sqlite:
    image: keinos/sqlite3
    profiles: [manual]
    entrypoint: [sqlite3]
    volumes:
      - radarr_develop1:/radarr/develop1
      - radarr_develop2:/radarr/develop2
      - sonarr_develop1:/sonarr/develop1
      - sonarr_develop2:/sonarr/develop2

  # http://localhost:8000
  apprise:
    image: caronc/apprise
    ports: [8000:8000]
    init: true
    tmpfs:
      - /attach
      - /plugin
    volumes:
      - ./docker/debugging/apprise:/config
    environment:
      TZ: America/Chicago
      APPRISE_DEFAULT_THEM: dark
      APPRISE_STATEFUL_MODE: simple
      DEBUG: yes
