<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="refitter-github" value="https://nuget.pkg.github.com/christianhelle/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="refitter-github">
      <package pattern="Refitter*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <refitter-github>
      <add key="Username" value="github" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </refitter-github>
  </packageSourceCredentials>
</configuration>
