# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Deploy Schemas

on:
  push:
    tags:
      - v*
  workflow_dispatch:

permissions:
  contents: read

env:
  DEPLOY_BRANCH: ${{ github.event_name == 'workflow_dispatch' && github.ref_name || 'master' }}

jobs:
  deploy:
    name: Deploy Schemas
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Build schemas
        run: ./ci/build-schemas.py

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy schemas-dist --project-name=recyclarr-schemas --branch=${{ env.DEPLOY_BRANCH }}
