# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Docker Hub Updates

on:
  push:
    branches: [master]
    paths:
      - README.md
      - .github/workflows/docker-hub.yml
  workflow_dispatch:

permissions: read-all

jobs:
  readme:
    name: Update Repo Metadata
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Update Docker Hub Description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        if: github.ref == 'refs/heads/master'
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}
          DOCKERHUB_REPOSITORY: ${{ github.repository }}
