# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Markdown Lint

on:
  push:
    paths:
      - "**.md"
      - .github/workflows/markdown-lint.yml
  pull_request:
    paths:
      - "**.md"
      - .github/workflows/markdown-lint.yml

env:
  dotnetVersion: "7.0.x"

jobs:
  markdownlint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Lint Markdown Files
        uses: DavidAnson/markdownlint-cli2-action@v5
        with:
          globs: |
            **.md
            !src/**
