# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Markdown Lint

on:
  push:
    # Explicitly specifying this results in tags being ignored, which is the goal.
    branches: ["**"]
    paths:
      - "**.md"
      - .github/workflows/markdown-lint.yml
      - "!src/**"
      - "!tests/**"
  pull_request:
    paths:
      - "**.md"
      - .github/workflows/markdown-lint.yml
      - "!src/**"
      - "!tests/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions: read-all

jobs:
  markdownlint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Lint Markdown Files
        uses: DavidAnson/markdownlint-cli2-action@05f32210e84442804257b2a6f20b273450ec8265 # v19
        with:
          globs: |
            **.md
            !src/**
            !tests/**
