# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Markdown Lint

on:
  push:
    # Explicitly specifying this results in tags being ignored, which is the goal.
    branches: ["**"]
    paths:
      - "**.md"
      - .github/workflows/markdown-lint.yml
      - "!src/**"
      - "!tests/**"
  pull_request:
    paths:
      - "**.md"
      - .github/workflows/markdown-lint.yml
      - "!src/**"
      - "!tests/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions: read-all

jobs:
  #############################################
  pre-check:
    uses: ./.github/workflows/reusable-precheck.yml

  #############################################
  markdownlint:
    needs: pre-check
    if: needs.pre-check.outputs.should_run == 'true'
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Lint Markdown Files
        uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63 # v21.0.0
        with:
          globs: |
            **.md
            !src/**
            !tests/**
