# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Renovate
run-name: Renovate (${{ github.event.client_payload.triggered_by || github.actor }})

on:
  schedule:
    - cron: "0 8 * * *" # 3 AM Central (8 AM UTC)
  push:
    branches: ["main", "master"]
    paths:
      - renovate.json5
      - .renovate/**
      - .github/workflows/renovate.yaml
  merge_group:
  repository_dispatch:
    types: [renovate-trigger]
  workflow_dispatch:
    inputs:
      logLevel:
        description: Log level
        required: false
        default: debug
        type: choice
        options: [info, debug, trace, warn, error]
      dryRun:
        description: Dry run (no changes made)
        required: false
        default: false
        type: boolean

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Generate App Token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@aec779d4f7845f8431ddf403cf9659d4702ddde0 # v43.0.18
        with:
          token: ${{ steps.generate-token.outputs.token }}
        env:
          LOG_LEVEL: ${{ inputs.logLevel || 'debug' }}
          RENOVATE_DRY_RUN: ${{ inputs.dryRun == true }}
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_FILTER: ${{ github.repository }}
          RENOVATE_INTERNAL_CHECKS_FILTER: strict
          RENOVATE_PLATFORM: github
          RENOVATE_PLATFORM_COMMIT: true
          RENOVATE_USERNAME: renohate[bot]
          RENOVATE_GIT_AUTHOR: Renohate Bot <${{ secrets.RENOVATE_USER_ID }}+renohate[bot]@users.noreply.github.com>
